@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@200&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

.screen_wrapper{
    background-color: #0D0E12;
    width: 98%;
    padding-top:2%;
    padding-left: 2%;


    span{
        width: 100%;
        display: block;
        border: 1px solid gray;
        margin-bottom: 2em;
    }
    h3{
        color: #53C4CD;
        margin: 2px;
    }


    .screen_title{
        font-family: 'Poppins', sans-serif;
        h1{
            color: #53C4CD;
            font-family: 'Poppins', sans-serif;
            font-weight: bolder;
        }
        p{
            color: #53C4CD;
            font-family: 'Poppins', sans-serif;
        }
        button{
            

            border-radius: 5px;
            background-color: #53C4CD;
            border: 1px solid;
            width: 10%;
            height: 3em;
            transition: 0.5s;
            cursor: pointer;
            min-width: 80px;
            font-weight: bolder;
                
        }
        button:hover{
            filter: brightness(140%);
        }
    }

    .modalBackdrop {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7); /* Slightly dark background */
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 999; /* Ensure it's above other content */
      }
      
      .modalCenter {
        display: flex;
        justify-content: center;
        align-items: center;
    
        .modal_icons{
            width: 100%;
            display: flex;
            justify-content: end;
            svg{
                height: 20%;
                color: #53C4CD;
                align-self: flex-end;
            }
            svg:hover{
                cursor: pointer;
            }
    
            
        }
      }
      



}


.project_list{
    width: 100%;
    display: flex;
    gap: 2%;
    flex-wrap: wrap;
}
.list_container{
    margin: 2.4em 0;

}




