.screen_wrapper{
    background-color: #0D0E12;
    width: 100vw;

    padding: 2%;


    span{
        width: 100%;
        display: block;
        border: 1px solid gray;
        margin-bottom: 2em;
    }
    h3{
        color: #53C4CD;
        margin: 2px;
    }
}


.project_list{
    width: 100%;
    display: flex;
    gap: 2%;
    flex-wrap: wrap;
}
.list_container{
    margin: 2.4em 0;

}