.iso_form_wrapper{
    background-color: #58595B;
    padding: 1em;
    border-radius: 15px;
    height: auto;
    width: 45vw;
    font-family: 'Poppins', sans-serif;
}


body {
    font-family: Arial, sans-serif;
}


.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"], textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}