body {
    height: 92%;

    .background-wrapper {
        padding: 3em;
        margin: 2em;
        background-color: #58595B;
        border-radius: 20px;
        position: relative;
        display: flex;
        
        flex-direction: row;    
        
        justify-content: space-between;
        width: 80%;
        height: 85%;

        .project-name {
            position: absolute;
            left: 30px;
            top: -3px;
            font-size: 30px;
            font-weight: 500;
        }

        .button{
            position: absolute;
            padding: 1.5em;
            right: -2px;
            top: -3px;
            
            cursor: pointer;
        }

        .button:hover {
            
        }
        
    }
}
    