body {
    height: 99%;
    overflow: hidden;

    .background-wrapper {
        padding-top: 7vh;
        padding-right: 3vw;
        
        margin: 2em;
        background-color: #58595B;
        filter: brightness(110%);
        border-radius: 20px;
        position: relative;
        display: flex;
        
        flex-direction: row;    

        justify-content: space-evenly;
        width: 80%;
        height: 85%;

        .project-name {
            position: absolute;
            left: 2vw;
            top: -1vh;
            font-size: 1.9em;
            font-weight: 600;
        }

        .button{
            position: absolute;
            padding: 1.5em;
            right: -0.6vw;
            top: -1.5vh;
            
            cursor: pointer;
        }

        
    }
}
    