.card_wrapper_process{
    background-color: #58595B;
    padding: 1em;
    border-radius: 15px;
    height: auto;
    width: 50vw;

    color: #53C4CD;

    .input_line{
        display: flex;
        gap: 20px;
        
    }
    .input_wrapper{
        display: flex;
        flex-direction: column;
        align-items: initial;
        margin-bottom: 1em;
        width: 40%;
        
        

        input{
            background-color: #D9D9D9;
            border-radius: 10px;
            outline: none;
            padding: 1em;
            cursor: pointer;
            transition: 0.5s;
            border: 1px solid rgba(0, 0, 0, 0.6);
        }
        
        #Descrição{
            height: 20em;
        }
    }

    .dropdown_wrapper{
        width: 100%;
        height: 8%;
        margin-bottom: 1em;
        background-color: #D9D9D9 ;
        border-radius: 10px;
        border: 1px solid rgba(0, 0, 0, 0.6);
        
        select{
            outline: none;
            padding: 1em;
            cursor: pointer;
            transition: 0.5s;

        }
    }

    .lower_card_container{
        display: flex;
        gap: 20px;
        width: 100%;



        .description_wrapper{
            width:40%;

            .input_wrapper{

                display: flex;
                flex-direction: column;
                align-items: initial;
                margin-bottom: 1em;
                width: 100%;
    
            }

            

        }

        .icons_line{
            margin-bottom: 20px;
            display: flex;
            gap: 0.8em;
        }

    }

    label{
        margin-bottom: 5px;
        font-weight: 400px;

    }

    .concluir {
        button {
            border-radius: 5px;
            background-color: #53C4CD;
            border: 1px solid;
            width: 40%;
            height: 3.5em;
            transition: 0.5s;
            cursor: pointer;
            min-width: 80px;
            top: 320px;
            left: 150px;
            position: relative;
            margin-left: 20px;
        }
    
        button:hover {
            filter: brightness(140%);
        }
    }

    
    .date_input{
        display: flex;
        width: 50%;
        gap: 2%;
    }
 
}