.card_wrapper{
    background-color: #F4F0DB;
    width: 50%;
    padding: 1em;
    border-radius: 15px;

    .input_line{
        display: flex;
    }
    .input_wrapper{
        display: flex;
        flex-direction: column;
        align-items: initial;
        width: 30%;
    }


}