.dropzone {
    height: 300px;
    background: #58595B;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    margin-top: 48px;
    outline: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.dropzone img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.dropzone p {
    width: calc(100% - 60px);
    height: calc(100% - 60px);
    border-radius: 10px;
    border: 1px dashed #53C4CD;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #53C4CD;
}

.dropzone p svg {
    color: #53C4CD;
    width: 24px;
    height: 24px;
    margin-bottom: 8px;
}
