.chart_screen_wrapper{
    padding: 2%;

    h1{
        color: #53C4CD;
        font-weight: bolder;
    }
    .generic_chat_wrapper{
        
        border-radius: 8px;
        

        .apexcharts-canvas{
            border-radius: 8px;
        }

    }



}



