$scrollPercentage: 10;

.container {
    overflow-y: hidden;
    overflow-x: hidden;

    caret-color: transparent;

    margin:0px;
    border: 1px solid;
    position: relative;
    width: 26%;
    max-width: 26%;
    min-width: 26%;
    height: 100%;
    background-color: #D9D9D9;
    border-radius: 5px;
    
    //deals with the scroll
    max-height: 80vh; /* Define a altura máxima da coluna */
    overflow-y: auto;
    transition: height 0.3s; /* Adicionando uma transição para suavizar a mudança de altura */
    height: calc(20% + #{scrollPercentage}%); /* Use a porcentagem de rolagem aqui */

    .title-container {
        width: 100%;
        height: 5vh;

        .title {
            padding: 1em;
            margin:0px;
            text-align: left;
            background-color: black;
            color:aliceblue;

            font-weight: 500;
            font-size: 1em;
            
        }
    }
    .card-container {
        
        .card-wrapper {
            width: 100%;
        }
    }
    
}
    
