$scrollPercentage: 10;

.container {
    overflow-y: hidden;
    overflow-x: hidden;

    caret-color: transparent;

    margin:0px;
    position: relative;
    width: 26%;
    max-width: 26%;
    min-width: 26%;
    height: 100%;
    background-color: #292A2D;

    border-radius: 0.5em;
    border: none;
    box-shadow: 2px 2px 3px;

    //deals with the scroll
    max-height: 80vh; /* Define a altura máxima da coluna */
    overflow-y: auto;
    transition: height 0.3s; /* Adicionando uma transição para suavizar a mudança de altura */
    height: calc(20% + #{scrollPercentage}%); /* Use a porcentagem de rolagem aqui */

    .title-container {
        width: 100%;
        height: 4vh;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        margin: 0.5vh 0vh;

        .title {
            padding: 0.8em;
            margin:0px;
            text-align: left;
            
            color:white;

            font-weight: 400;
            font-size: 1.1em;
        }

        .dots-menu {
            display: flex;
            align-items: center;
            justify-items: center;
            color:white;
            margin: 0em 0.7em;

            cursor: pointer;
        }

        
    }
    .horizontal-line {
        width: 92%;

        margin-top: 0.01vh;
    }
    .card-container {
        
        .card-wrapper {
            width: 100%;
        }
    }
    
}
    
