@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@200&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

.card_wrapper{
    a{
        text-decoration: none;
    }
    width: 14%;
    border-radius: 10px;
    text-align: center;
    h4{
        color: #53C4CD;
        font-weight: bold;
    }
    margin:1.8%;
    
    .process_card_lower{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2%;
    }
    
}

.main_card:hover{
    transform: scale(1.05);
    border: 2px solid #53C4CD;
    transition: 0.2s;
}

.main_card{
    background: rgb(41,42,45);
    background: linear-gradient(180deg, rgba(41,42,45,1) 0%, rgba(33,33,46,1) 49%, rgba(63,63,84,1) 100%);
    width: 120%;
    height: 105%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    .projectName {
        font-size: 120%;
    }
}

.icons{
    display: flex;
    justify-content: space-between;
    img{
        padding: 0.6em;
    }
}

.progress-bar {
    width: 90%;
    margin-bottom: 5%;
    background-color: #ddd;
    height: 20px;
    border-radius: 10px;
}
  
.progress {
    width: 0;
    height: 100%;
    background-color: #53C4CD; /* Cor da barra de progresso */
    border-radius: 10px;
    transition: width 0.5s; /* Adiciona uma animação de transição suave */
  }