.super-container {
    display: flex;
    flex-direction: column;
    border: 1px solid;
    border-radius: 0.7em;
    position: relative;
    margin: 15px 10px;

    .color {
        position: absolute;
        left: 0.5vw;
        top: 1vh;
        background-color: red;
        border-radius: 30px;
        width: 0.3vw;
        height:89%;
    }

    .card-container {
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: center;
        align-items: center;
        gap: 6em;
        height: 10vh;
        
        font-weight: 470;

        .name-paragraph {
            position: absolute;
            top: 0.01em;
            left: 25px;
        }

        .date {
            position: absolute;
            top: 0.01em;
            left: 42%;
        }

        .picture {
            position:absolute;
            left: 91%;
            top: 0.5vh;
        }
        
    }

    .icons-container {
        display: flex;
        
        flex-direction: row;
        justify-content: center;
        align-items: center;
        align-content: center;
        gap: 83%;
        margin-left: 1em;
        margin-bottom: 1%;;
    }
}