@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@200&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}


.super-container {
    display: flex;
    flex-direction: column;
    
    border-radius: 0.7em;
    position: relative;
    margin: 15px 10px;
    box-shadow: 2px 2px 2px;

    background-color: #58595D;

    cursor: pointer;

    &:hover {
        transition: 3ms;
        filter: brightness(120%);
    }

    .color {
        position: absolute;
        left: 0.5vw;
        top: 1vh;
        background-color: red;
        

        border-radius: 30px;
        width: 0.478vw;
        height:80%;
    }

    .card-container {
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: center;
        align-items: center;
        gap: 6em;
        height: 7vh;
        
        font-weight: 400;
        color: white;

        .name-paragraph {
            position: absolute;
            top: 0.01em;
            left: 25px;
        }

        .date {
            position: absolute;
            top: 0.01em;
            left: 45%;

        }

        .picture {
            position:absolute;
            left: 91%;
            top: 0.5vh;
        }
        
    }

    .icons-container {
        display: flex;
        
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        align-content: center;
        gap: 83%;
        margin-left: 1em;
        margin-bottom: 1%;;

        .add-file {
            display: none;
        }

        .trash {
            margin: 0em 0.6em;
            color: white;
        }
    }
}