@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@200&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

html {
    overflow: hidden;
}

.register_wrapper{
    border-radius: 40px;
    height: 70%;
    width: 40%;
    display: flex;
    flex-direction: column;
    background-color: #58595B;
    border: #53C4CD 1px solid;
    justify-content: center;
    align-items: center;
    padding: 4em;
    margin-bottom: 4%;

    .buttons{
        display: flex;
        justify-content: space-around   ;

        .mode_button{
            margin: 0.5em;
            border-radius: 5px;
            background-color: #53C4CD;
            border: 1px solid;
            width: 30%;
            height: 2.5em;
            transition: 0.5s;
            cursor: pointer;
            min-width: 80px;
            }
    }
    h1 {
        color: #53C4CD;
        font-family: 'Poppins', sans-serif;
        font-size: 300%;
        font-weight: bolder;
        
    }

    hr {
        width:100%;
    }
    .titulo{
        color: white;
        display: flex;
        justify-content: center;
        @keyframes blink {
            0% {
              opacity: 1;
            }
            50% {
              opacity: 0.5;
            }
            100% {
              opacity: 1;
            }
          }
            animation: blink 1s step-start infinite;
        }
    img {
        border-radius: 50%;
        width: 180px; /* Defina um tamanho adequado para a imagem */
        height: 180px; /* Mantenha a mesma altura para manter a proporção */
        align-self: center; /* Para centralizar a imagem horizontalmente */
    }

    form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;


        .input_wrapper{
            display: flex;
            flex-direction: column;
            margin: 1em;
            width: 100%;
            min-width: 150px;
  
            
        
        
            label{
                color: #53C4CD;
                margin-bottom: 0.5em;
                text-align: left;
                margin-left: 5px;
                font-family: 'Poppins', sans-serif;
                font-weight: bold;
            }
            input{
                background-color: #292A2D;
                color: #89dce2;
                border-radius: 8px;
                outline: none;
                padding: 1em;
                border: 1px solid;
                cursor: pointer;
                transition: 0.5s;
                font-family: 'Poppins', sans-serif;

            }
            input:hover{
                filter: brightness(140%);
            }
            
        }

        span {
            color: #53C4CD;
            font-weight: 700;
            cursor:pointer;
        }

        button{

            border-radius: 5px;
            background-color: #53C4CD;
            border: 1px solid;
            width: 50%;
            height: 3em;
            transition: 0.5s;
            cursor: pointer;
            min-width: 80px;
            font-family: 'Poppins', sans-serif;
            font-size: 100%;
            font-weight: bold;

             
        }
        button:hover {
            filter: brightness(140%);
        }

        
    }

    .dropdown_wrapper{
        width: 100%;
        padding: 1em;
        background-color: #292A2D ;
        border-radius: 10px;
        border: 1px solid rgba(0, 0, 0, 0.6);
        color: gray;
        
        select{
            outline: none;
            border:1px solid rgba(0, 0, 0, 0.6);
            padding: 1em;
            cursor: pointer;
            transition: 0.5s;

        }

        option{
            color: white;
        }
    }

}

