.form-container{
        margin: 1em;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 40%;

        padding: 0.5em 3em 1em;

        border-radius: 20px;

        background-color: #D7D7D7;

        h3 {
            font-weight: 500;
            margin-bottom: -15px;
            caret-color: transparent;
        }

        .close-button {
            position: relative;
            left: 455px;
            top: -25px;

            font-weight: 700;

            cursor: pointer;
        }

        form {
        font-size: 14px;
        caret-color:transparent;
        display: flex;
        flex-direction: column;
        
        gap: 1em;
        width: 95%;

        justify-content: center;
        align-items: flex-start;

        
        .task-name {
            width: 100%;
            border: none;
            padding: 0.4em;
            border-radius: 3px;

            caret-color: auto;
        }
        
        .responsible-name {
            width: 100%;
            border: none;
            padding: 0.4em;
            border-radius: 3px;

            caret-color: auto;
        }

        .date-container {
            display: flex;
            flex-direction: row;
            gap: 0.5em;

            align-items: flex-end;
        }

        .priority-buttons input[type="radio"] {
            display: none;
        }

        .priority-buttons label {
            display: inline-block;
            margin-right: 0.5em;
            width: 35px;
            height: 20px;
            cursor: pointer;
            border-radius: 10%;
            caret-color: transparent;
        }

        .verde {
            background-color: green;
        }

        .amarelo {
            background-color: yellow;
        }

        .vermelho {
            background-color: red;
        }

        textarea {
            width: 95%;
            border: none;
            padding: 1em;
            border-radius: 3px;
            caret-color: auto;
        }

        }
}