.login_wrapper{
    border-radius: 40px;
    width: 30%;
    height: 70%;
    display: flex;
    flex-direction: column;
    background-color: #414F4A;
    justify-content: center;
    align-content: center;
    padding: 4em;
    border: 2px solid #6db951 ;


    .buttons{
        display: flex;
        justify-content: space-around   ;

        .mode_button{
            margin: 0.5em;
            border-radius: 5px;
            background-color: #6db951;
            border: 1px solid #6db951;
            width: 30%;
            height: 2.5em;
            transition: 0.5s;
            cursor: pointer;
            min-width: 80px;
            }
    }

    .titulo{
        color: white;
        display: flex;
        justify-content: center;
        @keyframes blink {
            0% {
              opacity: 1;
            }
            50% {
              opacity: 0.5;
            }
            100% {
              opacity: 1;
            }
          }
            animation: blink 1s step-start infinite;
        }
    img {
        border-radius: 50%;
        width: 180px; /* Defina um tamanho adequado para a imagem */
        height: 180px; /* Mantenha a mesma altura para manter a proporção */
        align-self: center; /* Para centralizar a imagem horizontalmente */
    }

    form{
        display: flex;
        flex-direction: column;
        align-items: center;

        .input_wrapper{
            display: flex;
            flex-direction: column;
            margin: 1em;
            width: 70%;
            min-width: 150px;
            
        
        
            label{
                color: #9AF0E8;
                margin-bottom: 0.5em;
            }
            input{
                background-color: #6db951;
                border-radius: 8px;
                outline: none;
                padding: 1em;
                border: 1px solid #6db951;
                cursor: pointer;
                transition: 0.5s;

            }
            input:hover{
                filter: brightness(140%);
            }
            
        }

        button{
            margin: 0.5em;
            border-radius: 5px;
            background-color: #6db951;
            border: 1px solid #6db951;
            width: 30%;
            height: 2.5em;
            transition: 0.5s;
            cursor: pointer;
            min-width: 80px;

             
        }
        button:hover {
            filter: brightness(140%);
        }
    }

}

