

#element::-webkit-scrollbar {
    display: none;
}

div {
    
    .card {
        display: flex;
        flex-direction: row;
        background-color: #58595B;

        margin: 10px 4px;
        border-radius: 10px;
        align-items: center;
        width: 98%;

        .plus-icon {
            margin-right: 5em;
            margin-left: 1em;
            
        }

        .text {
            text-align: center;
            font-weight: 550;
        }
    }
}